.blockquote
  .answer{style: 'color: #ff3d3d;font-family: Arial;font-weight: bold;'}
    WRONG ANSWER!
  %br
  = link_to "another question from category - #{params[:category]}",
    show_category_path(category: params[:category]), method: :post
  %br
  = link_to "random question", show_path, method: :post
.background
  = image_tag 'shrimp_wrong.gif'     
